body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  background-color: #9bbecf;
}

ul {
  padding-left: 0px;
}

.status{
  font-size: 18px;
  font-weight: bold;
}

.list-group{
  margin-bottom: 2px;
}

.list-group .list-group-item{
  background-color: #337ab7;
  width: 50%;
  color: white;
}

.list-group .list-group-item:focus{
  background-color: #337ab7;
  color: white;
}

.bold{
  font-weight: bold;
}

.nav-button{

}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board-row{
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #999;
  float: right;
  font-size: 80px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  height: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  margin-top: 100px;
}

.game-info .btn-success{
  padding: 4px;
}

.game-info {
  text-align: left;
}

.highlight{
  color: red;
  border: 2px solid red;
}